<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hello</title>
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
	
	<script type="text/javascript" src="/public/js/jquery-1.7.2.js"></script>
	<script type="text/javascript" src="/public/js/main.js"></script>

</head>
<body>
<!-- 登陆 -->
<div id="login">
	<div class="login-top">登录</div>
	<div class="input-all">
		<div class="input-left" name="userName">用户名：</div>
		<input type="" name="" placeholder="请输入用户名">
	</div>
	<div class="input-all">
		<div class="input-left" name="passWord">密码：</div>
		<input type="" name="" placeholder="请输入密码">
	</div>
	<button class="buttom">登录</button>
	<div style="text-align: right;padding:10px;">没有账号？<a href="#" class="colMint">马上注册</a> </div>
</div>
<!-- 注册 -->
<div id="regist" style="display: none;">
	<div class="login-top">注册</div>
	<div class="input-all">
		<div class="input-left" >用户名：</div>
		<input type="" name="userNameRigist" placeholder="请输入用户名">
	</div>
	<div class="input-all">
		<div class="input-left">密码：</div>
		<input type="" name="passwordRigist" placeholder="请输入密码">
	</div>
	<div class="input-all">
		<div class="input-left">确认：</div>
		<input type="" name="passwordAgainRigist" placeholder="请输入密码">
	</div>
	<button class="buttom">注册</button>
	<div style="text-align: right;padding:10px;">已有账号？<a href="#" class="colMint">马上登录</a> </div>
	<div class="colWarning"></div>
</div>



	
</body>

</html>